.auth-container {
    position: relative;
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent background to let video show through */
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 500px;
    width: 100%;
    z-index: 1; /* Ensures content is on top of the video */
  }
  
  
  .logo {
    width: 120px;
    margin-bottom: 20px;
    border-radius: 10px;
    text-align: center;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #333;
  }
  
  form {
    width: 100%;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    color: #555;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
  }
  
  input:focus {
    outline: none;
    border-color: #4CAF50;
  }
  
  button {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  button:active {
    background-color: #388e3c; /* Darker shade on click */
    transform: scale(0.98); /* Slightly reduces size on click */
  }
  
  .error {
    color: red;
    font-size: 14px;
    margin-bottom: 15px;
  }
  
  p {
    font-size: 12px;
    text-align: center;
  }
  
  p a {
    color: #4CAF50;
    text-decoration: none;
  }
  
  p a:hover {
    text-decoration: underline;
  }
  
  @media (max-width: 768px) {
    .auth-container {
      padding: 20px;
    }
  
    h2 {
      font-size: 20px;
    }
  
    input {
      padding: 8px;
    }
  
    button {
      padding: 10px;
    }
  }
  
  @media (max-width: 480px) {
    .logo {
      width: 100px;
    }
  
    h2 {
      font-size: 18px;
    }
  
    input {
      padding: 6px;
    }
  
    button {
      padding: 8px;
    }
  }
  